.hero {
  background-color: var(--secondary);
}

.hero-square {
  height: 55vh;
  width: 55vh;
  border: 6px solid var(--secondary-darker);
  border-radius: 20px;
  bottom: 10vh;
  left: 5vw;
  position: relative;
}

.hero-image {
  height: 55vh;
  border-radius: 20px;
  position: relative;
  top: 10vh;
  right: 10vw;
}
