* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* :root {
  --primary: #caf0f8;
  --primary-dark: #118ab2;
  --secondary: #f4a261;
  --secondary-dark: #bb3e03;
} */

:root {
  --primary: #caf0f8;
  --primary-dark: #525960;
  --secondary: #f4a261;
  --secondary-dark: #f8f9fa;
  --secondary-darker: #fcfcfc;
}

.Section-Default {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Hero {
  background-color: var(--primary);
}

.Hero-Square {
  height: 55vh;
  width: 55vh;
  border: 6px solid var(--primary-dark);
  border-radius: 20px;
  bottom: 10vh;
  left: 5vw;
  position: relative;
}

.Hero-Image {
  height: 55vh;
  border-radius: 20px;
  position: relative;
  top: 10vh;
  right: 10vw;
}

.Life-Quote {
    background-color: var(--secondary-dark);
  }

.Summary {
  background-color: var(--secondary);
}

.Social-Media {
  background-color: var(--secondary);
}

.Projects {
  background-color: var(--primary-dark);
}

.Skills {
  background-color: var(--secondary-dark);
}

.Work-Experience {
  background-color: var(--secondary-dark);
  flex-direction: column;
  justify-content: flex-start;
}

.Education {
  background-color: var(--secondary);
  flex-direction: column;
  justify-content: flex-start;
}

.Education-Item {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: auto;
}

.Social-Media-Item {
  cursor: pointer;
  margin-left: 60px;
  margin-right: 60px;
  /* margin-top: 50px; */
}

.Skill-Technical-Item {
  height: 120px;
  margin-left: 60px;
  margin-right: 60px;
  align-self: center;
  fill: var(--primary-dark);
}

.Skill-People-Item {
  margin-left: 60px;
  margin-right: 60px;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--primary-dark);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  align-content: center;
}
