* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* :root {
  --primary: #caf0f8;
  --primary-dark: #118ab2;
  --secondary: #f4a261;
  --secondary-dark: #bb3e03;
} */

:root {
  --primary: #caf0f8;
  --primary-dark: #525960;
  --secondary: #f4a261;
  --secondary-dark: #f8f9fa;
}

.section-default {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projects {
  background-color: var(--primary-dark);
}

.section-heading {
  color: var(--primary-dark);
  font-size: 32px;
  margin-top: 5%;
}
